{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <a href="/cs2_chat1"><h1 class="card-title">Updates</h1></a>
    </div>

    <div class="card">
        <a href="/cs2_chat2"><h1 class="card-title">Thoughts and Theories</h1></a>
    </div>

    <div class="card">
        <a href="/cs2_chat3"><h1 class="card-title">Gameplay and Tactics</h1></a>
    </div>

    <div class="card">
        <a href="/cs2_chat4"><h1 class="card-title">Esports and Pro Scene</h1></a>
    </div>

    <div class="card">
        <a href="/cs2_chat5"><h1 class="card-title">Memes</h1></a>
    </div>

    <div class="card">
        <a href="/cs2_chat6"><h1 class="card-title">Skins, Trades, Economy</h1></a>
    </div>
</div>


{% endblock %}