{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

   <!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">CS2 Skin Economy Continues to Surprise</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 22:40</span>
            </div>
        </div>
        <div class="article-content">
            The CS2 skin economy continues to amaze. Some items sharply rise in price without obvious reasons,
            while others drop, even though they seem stable. More and more people treat skins not as cosmetics
            but as investments.

            <br><br>

            Opening cases is a separate psychological trap. You know the odds are minimal, but every time
            you think, “Maybe this time I’ll get lucky.”
            In this regard, CS2 is no different from CS:GO, and it seems it never will be.
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">CS2 Skins: Beyond Just Pretty Pictures</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 23:00</span>
            </div>
        </div>
        <div class="article-content">
            Skins in CS2 have long ceased to be just “pretty pictures.” For many, it’s a full-fledged
            economic system with its own risks, speculation, and emotions. People invest hundreds and
            thousands of dollars hoping prices will rise.

            <br><br>

            At the same time, the market remains extremely unstable. One announcement or update can change everything:
            the popularity of a skin, demand, value. What seems like a profitable investment today
            may lose half its price tomorrow.

            <br><br>

            And yet, despite all the risks, trading and cases remain an important part of CS2 culture —
            full of adrenaline, disappointment, and rare moments of real luck.
        </div>
    </div>
</div>


{% endblock %}