{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

 <!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">

        <div class="article-header">
            <h1 class="article-title">
                CS2: Avoid Playing on Autopilot
            </h1>

            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 20:05</span>
            </div>
        </div>

        <div class="article-content">
            One of the key mistakes in CS2 is playing on autopilot. Many players repeat the same actions
            round after round without analyzing what’s happening on the map. As a result, the team loses
            not because of poor aim, but due to a lack of adaptation.

            <br><br>

            CS2 especially rewards those who can read the game: changing positions, faking rotations,
            and managing the economy wisely. One correctly played save can be more valuable than a reckless force buy.

            <br><br>

            The higher the level of play, the less random moments matter and the more cold calculation prevails.
        </div>

    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">

        <div class="article-header">
            <h1 class="article-title">
                CS2: Details Make the Difference
            </h1>

            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 20:25</span>
            </div>
        </div>

        <div class="article-content">
            Many players enter CS2 thinking everything works the same as in CS:GO, and that’s where the problems begin.
            Shooting feels different, movement is punished more, and positioning mistakes become fatal.

            <br><br>

            In CS2, small details have become much more important: timings, information, correct rotations.
            Those who rush blindly to get frags often lose to those who simply wait for the right moment wisely.

            <br><br>

            Tactics can no longer be copied “one-to-one” from the old version.
            They need to be adapted, experimented with, and constantly adjusted to new patches.
            This is what separates players who grow from those who remain stagnant.
        </div>

    </div>
</div>



    
{% endblock %}