{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Building Is the Heart of Fortnite</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 12:20</span>
            </div>
        </div>
        <div class="article-content">
            Building is the heart of Fortnite. Quick reactions and smart use of materials often decide the outcome of a fight. Knowing when and what structure to place, how to use natural obstacles, and when to attack aggressively — all of this shapes a player’s skill. The ability to combine building and shooting makes the difference between survival and defeat.
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Predicting Opponents Is the Hardest Part</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 12:40</span>
            </div>
        </div>
        <div class="article-content">
            The hardest part in Fortnite isn’t just building, but predicting your opponents’ moves. Every round requires strategic thinking: where will enemies be, where to retreat, how to avoid traps. Those who learn to balance speed and accuracy will always stay one step ahead, even if their weapons aren’t the strongest.
        </div>
    </div>
</div>


{% endblock %}