{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}
<div class="card">
    <a href="/fortnite_chat1"><h1 class="card-title">Updates and Seasons</h1></a>
</div>
<div class="card">
    <a href="/fortnite_chat2"><h1 class="card-title">Building and Tactics</h1></a>
</div>
<div class="card">
    <a href="/fortnite_chat3"><h1 class="card-title">Tournaments and Esports</h1></a>
</div>
<div class="card">
    <a href="/fortnite_chat4"><h1 class="card-title">Skins and Cosmetics</h1></a>
</div>
<div class="card">
    <a href="/fortnite_chat5"><h1 class="card-title">Events and Collaborations</h1></a>
</div>
<div class="card">
    <a href="/fortnite_chat6"><h1 class="card-title">Memes and Humor</h1></a>
</div>

{% endblock %}