{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Skins and Cosmetics: Iconic Fortnite Elements</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 13:40</span>
            </div>
        </div>
        <div class="article-content">
            Skins and cosmetics in Fortnite have become iconic elements of the game. They not only decorate the character but also allow players to express themselves. Each player chooses a style that highlights their individuality, and often this becomes part of the strategy: either a subtle or bright character to attract attention.
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Collecting Skins: A Unique Fortnite Culture</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 14:00</span>
            </div>
        </div>
        <div class="article-content">
            Collecting skins in Fortnite is a unique culture. Some sets become legendary, while rare items can influence a player's approach to the game itself. Even without gameplay advantages, a cool appearance can psychologically impact opponents and inspire the team.
        </div>
    </div>
</div>


{% endblock %}