{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <a href="/minecraft_chat1"><h1 class="card-title">Updates and New Patches</h1></a>
    </div>

    <div class="card">
        <a href="/minecraft_chat2"><h1 class="card-title">Survival and Survival Worlds</h1></a>
    </div>

    <div class="card">
        <a href="/minecraft_chat3"><h1 class="card-title">Creative and Building</h1></a>
    </div>

    <div class="card">
        <a href="/minecraft_chat4"><h1 class="card-title">Mods and Plugins</h1></a>
    </div>

    <div class="card">
        <a href="/minecraft_chat5"><h1 class="card-title">PvP, Raids, and Multiplayer</h1></a>
    </div>

    <div class="card">
        <a href="/minecraft_chat6"><h1 class="card-title">Adventures, Stories, and Roleplay Worlds</h1></a>
    </div>
</div>


{% endblock %}