{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}


<!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Mods and Plugins Open New Horizons in Minecraft</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 09:40</span>
            </div>
        </div>
        <div class="article-content">
            Mods and plugins in Minecraft open a new dimension of the game. From additional mobs and items 
            to changes in physics and mechanics, they allow players to adapt the game to any need: 
            want a tougher survival, easier building, PvP, or roleplay worlds — there’s always a mod 
            that can change your perception of Minecraft. Communities that create these modifications 
            often form a new game culture that runs parallel to the standard world.
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Using Mods and Plugins Requires Skill and Creativity</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 10:00</span>
            </div>
        </div>
        <div class="article-content">
            Using mods and plugins requires not only technical skills but also creativity. How to integrate 
            new mechanics into your world without breaking the balance? How to create unique adventures 
            for other players? Programming, design, and psychology all come together here, making Minecraft 
            such a deep and multifaceted game.
        </div>
    </div>
</div>


{% endblock %}