{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Every Minecraft Update Opens New Possibilities</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 07:00</span>
            </div>
        </div>
        <div class="article-content">
            Every Minecraft update opens incredible opportunities for players. New biomes, mobs, mechanics, 
            or blocks change the familiar gameplay and make you rethink building and survival. 
            For example, new trees and plants can affect base design, and new mobs can influence defense strategies. 
            For many, updates are a chance to rethink old worlds or start entirely new adventures, 
            discovering hidden mechanics and creating unique systems.
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Minecraft Updates Change Player Interaction</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">13 Jan 2026 · 07:20</span>
            </div>
        </div>
        <div class="article-content">
            Minecraft updates aren’t just new blocks or mobs. Each patch changes how players interact 
            with the game, balances existing resources, and opens new paths for creativity. 
            Old building or farming methods become less effective, encouraging exploration of new approaches. 
            Players who adapt and learn in time always gain an advantage, while those who ignore changes quickly fall behind.
        </div>
    </div>
</div>


{% endblock %}