{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<!-- Перший блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Rust: Every New Wipe Is a Fresh Start</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 23:20</span>
            </div>
        </div>
        <div class="article-content">
            Every new wipe in Rust is a small life reset. Everyone is naked again, without loot, without bases,
            and without guarantees that this wipe will succeed. That is the magic of Rust — an even start
            where knowledge, speed, and adaptability decide everything. The only question is: are you ready
            to go through this journey once more?
        </div>
    </div>
</div>

<!-- Другий блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Rust: Each Patch Feels Like a Small Revolution</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 23:40</span>
            </div>
        </div>
        <div class="article-content">
            Every patch in Rust feels like a small revolution. New mechanics change the usual rhythm of the game,
            forcing constant adaptation. Yesterday’s tactics become useless, while today’s ideas are the key
            to survival. It’s important not just to master the new, but to understand how it changes the server’s dynamics.
        </div>
    </div>
</div>

<!-- Третій блок -->
<div class="center-wrapper">
    <div class="article-block">
        <div class="article-header">
            <h1 class="article-title">Rust: Small Updates Can Have Big Impact</h1>
            <div class="article-meta">
                <span class="article-author">by BH</span>
                <span class="article-time">12 Jan 2026 · 24:00</span>
            </div>
        </div>
        <div class="article-content">
            Some updates may seem small at first glance, but they have a big impact on the game.
            Balance changes, new items, or resources can alter the wipe’s economy.
            For those planning strategically, it’s an opportunity to gain an advantage right from the start.
        </div>
    </div>
</div>



{% endblock %}