{% extends "main/html/home_page.html" %}
{% load static %}

{% block title %}Fortnite Чати{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
        <a href="/rust_chat1"><h1 class="card-title">Updates and Wipes</h1></a>
    </div>

    <div class="card">
        <a href="/rust_chat2"><h1 class="card-title">Survival and Strategy</h1></a>
    </div>

    <div class="card">
        <a href="/rust_chat3"><h1 class="card-title">Rust Philosophy</h1></a>
    </div>

    <div class="card">
        <a href="/rust_chat4"><h1 class="card-title">Raids, PvP, and Drama</h1></a>
    </div>

    <div class="card">
        <a href="/rust_chat5"><h1 class="card-title">Memes</h1></a>
    </div>

    <div class="card">
        <a href="/rust_chat6"><h1 class="card-title">Loot, Bases, and Progress</h1></a>
    </div>
</div>


{% endblock %}